<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sign_up">

                    <div th:if="${!#strings.isEmpty(successMsg)}" class="alert alert-success" th:text="${successMsg}"></div>
                    <div th:if="${!#strings.isEmpty(errorMsg)}" class="alert alert-danger" th:text="${errorMsg}"></div>
                    <div class="container-form">
                        <h1>Registration</h1>
                        <form th:action="@{/auth/signUp}" method="post" class="form-style">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" placeholder="John" th:value="${formData?.firstName}" required>
                            <div th:if="${validationFormErrors?.containsKey('firstName')}" class="error-msg-validate" th:text="${validationFormErrors['firstName']}"></div>
                            <br>

                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" placeholder="Doe" th:value="${formData?.lastName}" required>
                            <div th:if="${validationFormErrors?.containsKey('lastName')}" class="error-msg-validate" th:text="${validationFormErrors['lastName']}"></div>
                            <br>

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="example@example.com" th:value="${formData?.email}" required>
                            <div th:if="${validationFormErrors?.containsKey('email')}" class="error-msg-validate" th:text="${validationFormErrors['email']}"></div>
                            <br>

                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phoneNumber" placeholder="+380501234567" th:value="${formData?.phoneNumber}" required>
                            <div th:if="${validationFormErrors?.containsKey('phoneNumber')}" class="error-msg-validate" th:text="${validationFormErrors['phoneNumber']}"></div>
                            <br>

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password"  required>
                            <div th:if="${validationFormErrors?.containsKey('password')}" class="error-msg-validate" th:text="${validationFormErrors['password']}"></div>
                            <br>

                            <label for="confirm-password">Password Confirm:</label>
                            <input type="password" id="confirm-password" name="passwordConfirm" required>
                            <div th:if="${validationFormErrors?.containsKey('passwordConfirm')}" class="error-msg-validate" th:text="${validationFormErrors['passwordConfirm']}"></div>
                            <br>

                            <button type="submit" class="button button-submit">Submit</button>
                        </form>
                        <a th:href="@{/}" class="button button-return">Back</a>
                    </div>
                </div>
</body>
</html>